<div class="text-center">
  <h2>{{dog.dog_name}}</h2>
  {{!-- <p>Selected by {{user.name}}</p> --}}
  <blockquote class="blockquote">
    <p class="small">
      <em>{{dog.description}}</em>
    </p>
  </blockquote>

  <table class="table table-bordered">
    <tr>
      <td><b>How happy is your new furry friend</b></td>
      <td>{{dog.temperament}}</td>
    </tr>

    <tr>
      <td><b>How often you need to brush them</b></td>
      <td>{{dog.grooming_frequency_category}}</td>
    </tr>

    <tr>
      <td><b>What group is your pal in</b></td>
      <td>{{dog.group}}</td>
    </tr>

    <tr>
      <td><b>How energetic is your pup</b></td>
      <td>{{dog.energy_level_category}}</td>
    </tr>

    <tr>
      <td><b>How easy is it to train your cuddle buddy</b></td>
      <td>{{dog.trainability_category}}</td>
    </tr>

    <tr>
      <td><b>How is your friend's attitude</b></td>
      <td>{{dog.demeanor_category}}</td>
    </tr>

    <tr>
      <td><b>How often they shed</b></td>
      <td>{{dog.shedding_category}}</td>
    </tr>
  </table>

  <a href="https://www.google.com/search?q=Adopt+{{dog.dog_name}}+near+me" target="_blank">
    <button class="btn btn-primary">Adopt This Four-Legged Friend Today!</button>
  </a>
  {{!-- <button class="btn btn-primary">Add This Pup to your Favorites</button> --}}
</div>

