<!-- Loop over each object in the projects array -->


{{!-- Commented out because it caused issues without project --}}

{{!-- {{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}
<div class="container">
  <div class="row">
    <div class="container d-flex row justify-content-center align-items-center col">
      <h1 class="text-center col-12 h-25px">Welcome!</h1>
      <p class="text-center col-12">Enter something below to begin, or sign up for a more features.</p>
      <div class="input-group input-group-lg w-50">
        <div class="input-group-prepend">
          <span class="input-group-text btn dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMain" aria-haspopup="true" aria-expanded="false" data-search="breed=">Breed:</span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" id="dropdownOption1" type="submit" data-search="breed=">Breed:</button>
            <button class="dropdown-item" id="dropdownOption2" type="submit" data-search="energy_level_category=">Energy Level:</button>
            <button class="dropdown-item" id="dropdownOption3" type="submit" data-search="grooming_frequency_category=">Grooming:</button>
            <button class="dropdown-item" id="dropdownOption4" type="submit" data-search="temperament=">Temperament:</button>
            </div>
        </div> 
        <input type="text" id="homepageSearch" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Ex. Akita, Shiba Inu, Terrier">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center align-items-center mt-4">
      <input type="submit" class="btn btn-primary mr-5" id="homepageSubmit" type="submit" value="Submit">
       
      </div>
  </div>
</div>

<div class="FrenchBully">
  <img src="https://thumbs.dreamstime.com/b/cute-french-bulldog-white-background-funny-pet-138222900.jpg" alt="FrenchBully" >
</div>

