{{#if dogs}}

 <table class="table table-arrows">
        <tr>
            <th>Breed</th>
            <th class="order-by-desc" >Temperament</th>
            <th class="order-by-desc" >Energy</th>
            <th class="order-by-desc" >Grooming</th>
        </tr>

        {{#each dogs}}
        <tr>
            <td><a href="/dog/{{this.id}}" target="_blank">{{this.dog_name}}</a></td>
            <td>{{this.temperament}}</td>
            <td>{{this.energy_level_category}}</td>
            <td>{{this.grooming_frequency_category}}</td>
        </tr>
        {{/each}}

    </table>
{{else}}
    <h3> Unfortunately we couldn't find a dog like that, instead have this:</h3>
    <a href="https://www.youtube.com/watch?v=Qkuu0Lwb5EM">
    <img alt="Error 404" src="./img/404.png" width="250" height="250"></a>
{{/if}}