<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{dog-name}}</p>
  <p>Selected by {{user.name}}</p>
  <p>
    {{!-- <span for="img" aria-label="money">💲</span> --}}
  </p>
  <p>{{description}}</p>
  <p>How happy is your new furry friend:{{temperament}}</p>
  <p>What group is your pal in:{{group}}</p>
  <p>How energetic is your pup:{{energy_level_category}}</p>
  <p>How easy is it to train your cuddle buddy:{{ trainability_category}}</p>
  <p>How is your friend's attitude:{{demeanor_category}}</p>
  <p>
    <button class="btn btn-primary">Choose This Four-Legged Friend Today!</button>
  </p>
</div>
